name: Verify
on:
  workflow_call:
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Install dependencies
        uses: wevm/actions/.github/actions/pnpm@main
        with: 
          node-version: 22

      - name: Lint code
        run: pnpm lint
      
      - uses: stefanzweifel/git-auto-commit-action@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          commit_message: 'chore: format'
          commit_user_name: 'github-actions[bot]'
          commit_user_email: 'github-actions[bot]@users.noreply.github.com'

  types:
    name: Types
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Install dependencies
        uses: wevm/actions/.github/actions/pnpm@main
        with: 
          node-version: 22

      - name: Build
        run: pnpm build
        
      - name: Check types
        run: pnpm typecheck

  # test:
  #   name: Test
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Clone repository
  #       uses: actions/checkout@v4

  #     - name: Install dependencies
  #       uses: wevm/actions/.github/actions/pnpm@main
  #       with: 
  #         node-version: 22

  #     - name: Set up Foundry
  #       uses: foundry-rs/foundry-toolchain@v1

  #     - name: Set up Rundler
  #       uses: jaxxstorm/action-install-gh-release@v1.12.0
  #       with:
  #         repo: alchemyplatform/rundler
  #         platform: linux

  #     - name: Set up Docker
  #       uses: docker/setup-docker-action@v4
      
  #     - name: Pull Silius
  #       run: docker pull ghcr.io/silius-rs/silius:latest
        
  #     - name: Pull Stackup
  #       run: docker pull stackupwallet/stackup-bundler:latest

  #     - name: Run tests
  #       run: pnpm test
  #       env:
  #         VITE_FORK_URL: ${{ secrets.VITE_FORK_URL }}
